/* patch vTeen2.3 */
.news-card {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 12px;
  margin: 8px 0;
  background: #111;
}
footer {
  margin-top: 20px;
  font-size: 0.8em;
  color: #ccc;
}
footer button {
  margin-right: 8px;
}
